altair
asgiref
attrs
beautifulsoup4
blinker
cachetools
certifi
charset-normalizer
click
colorama
crispy-bootstrap5
decorator
distlib
dj-database-url
Django
django-crispy-forms
django-email
django-environ
entrypoints
exceptiongroup
filelock
Flask
gitdb
GitPython
idna
importlib-metadata
iniconfig
itsdangerous
Jinja2
joblib
jsonschema
lxml
markdown-it-py
MarkupSafe
mdurl
MouseInfo
mysql-connector-python
nltk
numpy
packaging
pandas
Pillow
pipenv
platformdirs
pluggy
protobuf
psycopg2
pyarrow
PyAutoGUI
pydeck
PyGetWindow
Pygments
pyjokes
Pympler
PyMsgBox
pyperclip
PyRect
pyrsistent
PyScreeze
pytest
python-dateutil
pytweening
pytz
pytz-deprecation-shim
PyWallpaper
regex
requests
rich
six
smmap
soupsieve
sqlparse
streamlit
tenacity
tk
toml
tomli
toolz
tornado
tqdm
typing_extensions
tzdata
tzlocal
urllib3
validators
virtualenv
watchdog
Werkzeug
zipp